html {
	/* a gradient background, coded for multiple browser support */
	/* snagged from: http://www.colorzilla.com/gradient-editor/ */
	background: #008500; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #008500 0%, #00CC00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#008500), color-stop(100%,#00CC00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #008500 0%,#00CC00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #008500 0%,#00CC00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #008500 0%,#00CC00 100%); /* IE10+ */
	background: linear-gradient(135deg,  #008500 0%,#00CC00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008500', endColorstr='#00CC00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	overflow: scroll;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  	color: black;
	background: white;
	width: 800px;
	height: 100%;
	/*height: 100% - 60px;*/
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 20px auto;
	border: 1px solid #FFFFFF;
	box-shadow:0px 0px 5px #000000;
	overflow: scroll;
}

p {
	margin: auto;
	color: gray;
}

h2 {
	font-family: 'Schoolbell', serif;
	font-size: 30px;
	color: black;
	text-align: center;
}

h3 {
	font-family: 'Schoolbell', serif;
	font-size: 40px;
	color: #008500;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
}

h4 {
	font-family: 'Schoolbell', serif;
	font-size: 25px;
	color: #008500;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
}

header {
	/*border: 1px solid #000000;*/
	font-family: 'Schoolbell', serif;
  	font-size: 48px;
  	text-shadow: 1px 1px 2px #000000;
	color: black;
}

hr {
	width: 90%;
}

th {
	font-size: 14px;
}

td {
	font-size: 14px;
}

img {
	max-height: 98%;
	max-width: 98%;
	border-radius: 25px;
	box-shadow: 1px 1px 5px #000000;
	overflow: hidden;
	float: center;
	display: inline-block;
}

.width33 {
	border: 1px solid red;
    width: 33%;
}

.width100 {
	height: 25px;
    width: 100%;
}

.width90 {
    width: 90%;
}

.width50 {
	width: 50%;
}

a:link {
	/* unvisited link */
	color: #000000;
	font-weight: bold;
}      

a:visited {
	/* visited link */
	color: #000000;
	font-weight: bold;
}  

#divParent {
	/*border: 1px solid red;*/
	width: 100% - 40px;
	height: 100% - 40px;
    margin: 20px;
}

#divContainer {
	/*border: 1px solid #FFFFFF;*/
	font-size: 16px;
	text-align: left;
	margin: 0 auto;
	width: 100%;
	display: inline-block;
	/*height: 620px;*/
}

#divHeaderPanel {
	/* a gradient background, coded for multiple browser support */
	/* snagged from: http://www.colorzilla.com/gradient-editor/ */
	background: #00cc00; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwY2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2N2U2NjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #00cc00 0%, #67e667 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00cc00), color-stop(100%,#67e667)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00cc00 0%,#67e667 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00cc00 0%,#67e667 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00cc00 0%,#67e667 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00cc00 0%,#67e667 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cc00', endColorstr='#67e667',GradientType=0 ); /* IE6-8 */
	/*border: 1px solid #000000;*/
	font-size: 16px;
	width: 100%;
	height: 100px;
	background-color: #67E667;
	border-radius: 5px;
	box-shadow:1px 1px 5px #000000;
}

#divFooterContainer {
	width: 100%;
	height: 30px;
	/*border: 1px solid #000000;*/
}

#divWelcomeContentPane {
	border: 1px solid #008500;
	box-shadow:1px 1px 5px #000000;
	float: left;
    width: 475px;
	height: 450px;
    /*background-color: #67E667;*/
    margin: 5px auto;
    padding: 5px auto;
    border-radius: 5px;
    overflow: hidden;
}

#divLoginForm {
	border: 1px solid #008500;
	box-shadow:1px 1px 5px #000000;
	float: right;
    width: 260px;
	height: 330px;
    /*background-color: #67E667;*/
    margin: 5px auto;
    padding: 5px auto;
    border-radius: 5px;
    overflow: hidden;
}

#loginHeader {
	background-color: #39E639;
	box-shadow:0px 1px 1px #008500;
	float: center;
	color: black;
	font-weight: bold;
	font-size: 20px;
	width: 100%;
	padding: 10px 20px;
}

#registerLink {
	font-size: 16px;
	width: 260px;
	padding: 1px 20px;
}

#divRegister {
	border: 1px solid #008500;
	box-shadow:1px 1px 5px #000000;
	float: left;
    width: 475px;
	height: 450px;
    margin: 5px auto;
    padding: 5px auto;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
}

#divLessonsNavHeader {
	box-shadow:0px 0px 2px #000000;
	font-weight: bold;
	float: center;
    width: 500px;
	height: 40px;
    background-color: #33CCCC;
    margin: 5px auto;
    padding: 5px auto;
    border-radius: 5px;
    overflow: hidden;
}

#divWeekLessonContainer {
	/*border: 1px solid #000000;*/
	background-color: ghostwhite;
	border-radius: 5px;
	box-shadow:inset 0px 0px 5px #000000;
	font-size: 16px;
	text-align: left;
	padding: 15px auto;
	margin: 15px auto;
	width: 100%;
	/*height: 475px;*/
	/*overflow: scroll;*/
}

label {
	float: left;
	font-size: 14px;
	width: 170px;
	line-height: 23px;
	margin: 5px 0px 5px 20px;
	/*text-align: right;*/
	/*border: 1px solid #cccccc;*/
}

input {
	float: right;
	font-size: 16px;
	border: 1px solid #cccccc;
	width: 220px;
	height: 23px;
	background: ghostwhite;
	margin: 5px 20px 5px 0px;
}

#navHeaderButton {
	font-size: 16px;
	width: 100px;
	height: 100%;
	text-align: center;
	line-height: 40px;
	background-color: #33CCCC;
	display: inline-block;
	box-shadow:0px 0px 2px #000000;
}

#navHeaderButtonSelected {
	font-size: 16px;
	width: 100px;
	height: 100%;
	text-align: center;
	line-height: 40px;
	background-color: #009999;
	display: inline-block;
	box-shadow:inset 0px 0px 5px #000000;
}

#submit_button {
	clear: both;
	width: 220px;
	height: 30px;
	background: #008500;
	text-align: center;
	line-height: 25px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 20px;
}

#register_button {
	clear: both;
	width: 220px;
	height: 30px;
	background: #008500;
	text-align: center;
	line-height: 25px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 20px;
}

#headerSubtext {
	line-height: 20px;
	float: left;
	margin-left: 10px;
	display: inline-block;
}

#divHeaderNav {
	/*border: 1px solid #000000;*/
	float: center;
    border-radius: 4px;
    overflow: hidden;
	height: 24px;
	width: 220px;
	font-weight: bold;
	display: inline-block;
	box-shadow:0px 0px 2px #000000;
}

#logOff_button {
	float: right;
	margin-right: 10px;
	display: inline-block;
}

#navSmallHeaderButton {
	height: 100%;
	width: 50%;
	line-height: 24px;
	font-size: 18px;
	font-weight: bold;
	background-color: #67E667;
	display: inline-block;
	box-shadow:0px 0px 2px #000000;
}

#navSmallHeaderButtonSelected {
	height: 100%;
	width: 50%;
	line-height: 24px;
	font-size: 18px;
	font-weight: bold;
	background-color: #00CC00;
	display: inline-block;
	box-shadow:inset 0px 0px 5px #000000;
}

#error {
	text-align: center;
	color: red;
	font-weight: bold;
	width: 100% - 40px;
	height: 30px;
	margin: 5px 20px;
}

#success {
	text-align: center;
	color: black;
	font-weight: bold;
	width: 100% - 40px;
	height: 30px;
	margin: 5px 20px;
}

#errorReg {
	text-align: center;
	color: red;
	font-weight: bold;
	width: 100% - 40px;
	height: 30px;
	margin: 5px 20px;
}

#successReg {
	text-align: center;
	color: black;
	font-weight: bold;
	width: 100% - 40px;
	height: 30px;
	margin: 5px 20px;
}

/* Begin divs for lessons */

#divGuidePanel {
	/*border: 1px solid #000000;*/
	width: 100%;
	max-height: 850px;
	display: inline-block;
}

#divLessonTitle {
	/*border: 1px solid #000000;*/
	max-height: 100px;
	width: 100%;
}

#divGuideImage {
	height: 270px;
	width: 350px;
	float: center;
	display: inline-block;
}

#divGuideImageFrame {
	/*border: 1px solid #000000;*/
	height: 300px;
	width: 350px;
	margin-left: 10px;
	display: inline-block;
}

#divGuideDialog {
	/*border: 1px solid #000000;*/
	border-radius: 25px;
	box-shadow: 1px 1px 5px #000000;
	float: right;
	width: 340px;
	max-height: 580px;
	margin-right: 10px;
	padding: 20px 20px 20px 20px;
	display: inline-block;
	color: black;
}

#divGuideVideoPanel {
	/*border: 1px solid #000000;*/
	width: 100%;
	height: 300px;
	display: inline-block;
}

#divLessonPanel {
	width: 100%;
	display: inline-block;
}

#divGuideVideoFrame {
	box-shadow: 1px 1px 5px #000000;
	overflow: hidden;
	float: center;
	display: inline-block;
	margin: 10px 10px 10px 10px;
}

#divh5 {
	font-family: 'Schoolbell', serif;
	font-size: 40px;
	color: #A60000;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
}

#divh6 {
	font-family: 'Schoolbell', serif;
	font-size: 25px;
	color: #A60000;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
}

#divLessonSubTitle {
	/*border: 1px solid #000000;*/
	max-height: 100px;
	width: 90%;
}

#divInfoPurpose {
	/*border: 1px solid #000000;*/
	width: 80%;
	max-height: 300px;
	padding: 20px 20px 20px 20px;
	color: black;
	text-align: left;
}

#divActionsPanel {
	/*border: 1px solid #000000;*/
	float: center;
	width: 90%;
	max-height: 600px;
	color: black;
}

#divBulletShape {
	width: 20px;
	height: 20px;
	background-color: #A60000;
	border-radius: 10px;
	box-shadow: 1px 1px 2px #000000;
	margin: 25px 25px 25px 25px;
	float: center;
}

#divActionCell {
	/*border: 1px solid #000000;*/
	margin: 20px 20px 20px 20px;
	color: black;
	font-size: 16px;
}

#divImageCell {
	width: 200px;
	float: center;
}

